.VueCarousel-navigation-button {
  color: #fa631c !important;
  padding: 0px 5px 0px 5px !important;
}

.blog-section-container .card .social-share-container {
  height: 36px;
  padding: 0 10px;
}
.blog-section-container .card .social-share-icons {
  height: 28px;
  width: 28px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  margin: 0 2px;
  cursor: pointer;
}
.blog-section-container .card .social-share-icons:hover {
  color: #fa631c;
  text-decoration: none;
}
