name: Frontend CD

on:
  push:
    branches: [ prod ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm install
    - name: Check Build
      run: npm run build
      env:
        CI: true    
    - name: Running remote SSH commands
      uses: JimCronqvist/action-ssh@master
      with:
        hosts: ${{ secrets.HOST }}
        privatekey: ${{ secrets.SSHKEY }}
        command: |
                cd ~/www/lugnitdgp.github.io
                git checkout prod
                git pull origin prod
                sudo docker-compose up -d --build
                cd ~
                sudo systemctl restart nginx
